.auth-background{
	width: 100%;
	height: 100%;
	background-color: #212121;
}

.auth-box {
    width: 290px;
    height: 350px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}


.logo-auth{
	margin-left: 40px;
	padding-bottom: 30px;
	width: 200px;
}
.auth-top-menu {
	height: 70px;
}

.auth-top-menu-log {
	height: 70px;
}

.auth-top-menu-log p, .auth-top-menu-reg p{
	margin-top: 26px;
}

.auth-connect-sub-menu{
	margin-top: 15px;
}


#login{
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 15px;
}

.auth-top-menu-reg {
	height: 70px;
}

.auth-connect-sub-menu-sc, .auth-connect-sub-menu-st, .auth-connect-sub-menu-co{
	height: 40px;
	padding-top: 11px;
	font-size: 11px;
}

.auth-connect-sub-menu-sc{

}

.auth-connect-sub-menu-st{

}

.auth-connect-sub-menu-co{

}

#register, #login {
	color: white;
	padding: 10px!important;
}

#register .login-button, #login .login-button {
	border-radius: 0px;
	border: 1px solid #78909c;
	padding: 10px;
	width: 100%;
	background-color: #546e7a;
	margin-top: 3em;
}


.auth-box a{
	color: white;
}

.auth-box .selectpicker{
	margin-top: 2em;
	width: 100%;
}
.auth-select {
	margin-top: 2em;
}
