.sidebar-company {
  background-color: #1b1b1b!important;
}

.sidebar-company *{
  color: #eaeaea!important;
}

.wrapper-company {
  background-color:#ffffff!important;
}

.statusbar {

  background-color: #1B1B1B;
  border-bottom: 2px solid #555555;
  color: #eaeaea!important;
}
.diffuse{
}

.ft {
	background-color: #4C8DA6;
	color: #F7F7FF;
	height: 100%;
}
.ft-hero {

	font-family: 'Lato', sans-serif;
	margin-top: 15%;
}

.go{
	margin: 3em 7em;
}

.logout {
	position: fixed!important;
	bottom: 0!important;
	margin-bottom: 3em;
}
