/* CSS declarations go here */
/*
@import url(http://fonts.googleapis.com/css?family=Lato:300,100,400);
*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato-Hairline'), url(/fonts/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato-Light'), url(/fonts/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Regular'), url(/fonts/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato-Bold'), url(/fonts/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

body {
}

h1, h2, h3, h4, p, *{
	font-weight: 300;
}
.logbox {
	margin-top: 25%;
	width: 179px;
}

.log-reg-container{
	background-color: #2c2c2c;
	padding-bottom: 180em;
	color: #fbfbfb;
}

.register-box{
	border: 0px solid;
	border-bottom: 1px solid #fbfbfb;
	margin-bottom: .2em;
	background-color: inherit;
	width: 100%;
}

.login-button {
	margin-top: 5px;
	background-color:inherit;
	border-radius: 2px;
}

a:focus {
	outline: none;
}

/* Offers CSS

Rouge: #FA6E69
Jaune: #FFCE74
Vert: #97D17A
Bleu:  #4C8DA6


*/
.offer-label{
	margin-right: 1em!important;
}
.offer-CDI {
	border-left: 8px solid #ff4545;
	background-color: #FA6E69;
	padding: 15px;
	margin-bottom: 1px;
}

.offer-CDD {

	border-left: 8px solid #ffb642;
	background-color: #FFCE74;
	padding: 15px;
	margin-bottom: 1px;
}

.offer-Stage {
	border-left: 8px solid #2b7e97;
	background-color: #4C8DA6;

	padding: 15px;
	margin-bottom: 1px;
}

.offer-VIE {
	border-left: 8px solid #1cb58c;
	background-color: #30cdad;
	padding: 15px;
	margin-bottom: 1px;
}

.jobName {
	color: #f0f0f0;
}

/* Push form */

#push-form {
	margin-top: 5em;
}

.form-control, .form-control:focus {

	border-right: none;
	border-top: none;
	border-left: none;
	border-right-color: rgba(238, 238, 238, 0);
	border-top: none;
	border-left: none;
	box-shadow: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: rgba(238, 238, 238, 0);

}

.text-area {
	border-right: 4px;
	border-top: 4px;
	border-left: 4px;
}

.btn-default {
	color:#464646;
}

.separator {
	border-bottom: 1px solid rgba(191, 191, 191);
	padding-bottom: 5px;
	color: rgb(191, 191, 191);
}

.push-post-radio {
	margin-left: 1em!important;
	font-size: 12px;
	line-height: 1.42857;
	color: #555;
}


/*wysiwyg*/

.editor {
	border: 1px solid #CCC;;
}
.toolbar {
	padding: 10px;
	border-bottom: 1px solid #CCC;
}
.toolbar button {
	height: 30px;
	-webkit-appearance: none;
	font-size: 16px;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
}
.toolbar button[data-state] {
	width: 30px;
}
.toolbar button[data-state=bold] {
	font-weight: bold;
}
.toolbar button[data-state=italic] {
	font-style: italic;
}
.toolbar button[data-state=underline] {
	text-decoration: underline;
}
.toolbar button:hover {
	border: 1px solid #aaa;
}
.toolbar button:active, .toolbar button.active {
	color: #2D7ABB;
	text-shadow: rgba(0, 0, 225, 0.3) 0 0 2px;
}
.toolbar button.change-font {
	width: 20px;
	margin: 0;
	padding: 0;
	line-height: 30px;
}
.toolbar button.change-font[data-size=small] {
	font-size: 9px;
}
.toolbar button.change-font[data-size=medium] {
	font-size: 12px;
}
.toolbar button.change-font[data-size=large] {
	font-size: 18px;
}
[contenteditable=true] {
	padding: 10px;
	min-height: 300px;
}
[contenteditable=true]:empty::before {
	content: attr(placeholder);
	display: inline;
	color: #aaa;
	font-weight: 300;
}
.modal .modal-body input {
	border: 0;
	width: 100%;
}

.schools-search{
	width: 100%;
}

.logo-school img{
	width: 210px;
	max-height: 230px;
}

.logo-school-wrapper{
	height: 260px;
}
