.first-school-hero{
	margin-bottom: 5em;
}

.first-school-hero h3{
	font-weight: normal;
}

.first-school-submit {
	margin-top: 4em;
	margin-left: 50%;
}

.school-menu {
	font-size: 17px;
}

.channels {
	margin-bottom: 4em;
}
