#wrapper {
  padding-left: 50px;
  transition: all 0.5s ease;
	height: 100%;
}
#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: -200px;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  background:  #42a5f5;
  padding-top: 15px;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  left: -250px;
  margin-left: 250px;
}

#page-content-wrapper {
  width: 100%;
  background-color: #e3f2fd;
	height: 100%;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -50px;
}

/* Sidebar Styles */

.sidebar {
  margin: 0;
  padding: 0;
}
.sidebar li.title {
  letter-spacing: 0.01em;
  font-size: 2rem;
  line-height: 4.2rem;
}
.sidebar ul {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}
.sidebar ul li {
  display: block;
}
.sidebar ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #0d47a1;
}
.sidebar ul li a [class*="icon"] {
  margin-right: 15px;
}
.sidebar ul li a#main-toggle:after,
.sidebar ul li a.dropdown-toggle:after {
  right: 20px;
  bottom: 5px;
}
.sidebar .sidebar__main {

}

.sidebar .sidebar__toggled {
  font-size: 2rem;
  line-height: 3.4rem;
}
.sidebar ul li.title,
.sidebar .sidebar__main--brand a {
color: #1565c0;

}

.dropdown-toggle {
  padding-right: 20px;
}
#main-toggle:after,
.dropdown-toggle:after {
  font-family: 'Glyphicons Halflings';
  font-size: .7em;
  position: absolute;
  margin-left: .25em;
  bottom: 0;
  content: "\e114";
}

.sidebar__toggled {
}
#main-toggle:after {
  font-size: 1em;
  content: "\e055";
}

.sidebar-toggle{
  margin-right: -10px;
}



@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 50px;
    }

    #sidebar-wrapper {
      left: 250px;
      margin-left: -250px;
    }

    #wrapper.toggled #sidebar-wrapper {
      left: -200px;
      margin-left: 0;
    }

    #page-content-wrapper {
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 50px;
    }
}
