.sidebar-student {
  background-color: #1b1b1b!important;
}

.sidebar-student *{
  color: #eaeaea!important;
}

.wrapper-student {
  background-color:#ffffff!important;
}

.feed-student{
  color: #4c4c4c;
}

.jobType{
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
    color: #f6f6f6;
}

.jobType p{
  margin-left: 25px;
  margin-top: 10px;
}

.selectpicker-registerStudent{
  color: #343434;
}

.filters a{
	margin: 35px;
}
.filters a:hover{
	 text-decoration: none;
	 color: #428BCA!important;
}

.filters a:focus{
	 text-decoration: none;
}

.a-blue {
	 color: #428BCA!important;
}
.filters {
	margin-bottom: 50px;
}
