 <template name="wysiwyg">

 <div class="modal fade" id="prompt-url" role="dialog">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
         <h4 class="modal-title" id="myModalLabel">Enter the Internet Address (URL) for this link.</h4>
       </div>
       <div class="modal-body">
         <input type="text">
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary" data-dismiss="modal">Insert link</button>
       </div>
     </div>
   </div>
 </div>
 <div class="editor">
   <div class="toolbar">
     <button data-state="bold">B</button>
     <button data-state="italic">I</button>
     <button data-state="underline">U</button>
     <button data-toggle="modal" data-target="#prompt-url">www</button>
     <button class="change-font" data-size="small">A</button>
     <button class="change-font" data-size="medium">A</button>
     <button class="change-font" data-size="large">A</button>
   </div>
   <div contenteditable="true" placeholder="Corps de l'annonce..." id="corps" ></div>
 </div>
</template>
