<template name="authButtons">
  <ul class="list-inline">
    <li><a href="/login">LOG IN</a></li>
    <li>-or-</li>
    <li>REGISTER:</li>
  </ul>
  <ul class="list-inline">
      <li><a href="/student/register">Student</a></li>
      <li><a href="/school/register">School</a></li>
      <li><a href="/company/register">Company</a></li>
  </ul>
</template>



<template name="registerStudent">
  <div class="container-fluid log-reg-container">
    <div class="row">
      <div class="col-xs-offset-4 col-md-offset-5 logbox logbox">
        {{> authButtons}}
        <div id="register">
          <form>
            <input type="email" id="register-email" placeholder="e-mail" class="register-box"><br/>
            <input type="password" id="register-password" placeholder="password" class="register-box"><br>
            <select class="selectpicker selectpicker-registerStudent">
              {{#each schools}}
              <option value="{{_id}}">{{schoolName}}</option>
              {{/each}}
            </select>
            <input type="submit" value="Register" class="login-button">

          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="registerSchool">
  <div class="container-fluid log-reg-container">
    <div class="row">
      <div class="col-xs-offset-4 col-md-offset-5 logbox logbox">
        {{> authButtons}}
        <div id="register">
          <form>
            <input type="email" id="register-email" placeholder="e-mail" class="register-box"><br/>
            <input type="password" id="register-password" placeholder="password" class="register-box"><br>
            <input type="submit" value="Register" class="login-button">
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="registerCompany">
  <div class="container-fluid log-reg-container">
    <div class="row">
      <div class="col-xs-offset-4 col-md-offset-5 logbox logbox">
        {{> authButtons}}
        <div id="register">
          <form>
            <input type="email" id="register-email" placeholder="e-mail" class="register-box"><br/>
            <input type="password" id="register-password" placeholder="password" class="register-box"><br>
            <input type="submit" value="Register" class="login-button">
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="login">
  <div class="container-fluid log-reg-container">
    <div class="row">
      <div class="col-xs-offset-4 col-md-offset-5 logbox logbox">
        {{> authButtons}}
        <div id="login">
          <form>
            <input type="email" id="login-email" placeholder="e-mail" class="register-box"><br/>
            <input type="password" id="login-password" placeholder="password" class="register-box"><br>
            <input type="submit" value="Login" class="login-button">
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<!-------------- Auth v2 -------------->

<template name="auth">
<div class="auth-background">
	<div class="auth-box">

		<img src="/studin.png" class="logo-auth">
		<div class="container-fluid auth-top-menu">
			<div class="row">
				<a href="/auth/login"><div class="col-xs-6 auth-top-menu-log"><p class="text-center">Se connecter</p></div></a>
				<a href="/auth/register/"><div class="col-xs-6 auth-top-menu-reg"><p class="text-center">S'enregistrer</p></div></a>
			</div>
		</div>
		{{> yield "one"}}
		{{> yield "two"}}
	</div>
</div>
</template>


<template name="authLogin">
	<div class="container-fluid auth-login">
		<div class="row">
        <div id="login">
          <form>
            <input type="email" id="login-email" placeholder="e-mail" class="register-box"><br/>
            <input type="password" id="login-password" placeholder="password" class="register-box"><br>
            <input type="submit" value="Login" class="login-button">
          </form>
        </div>
		</div>
	</div>
</template>

<template name="authConnectSubMenu">
		<div class="container-fluid auth-connect-sub-menu">
			<div class="row">
				<a href="/auth/register/student"><div class="col-xs-4 auth-connect-sub-menu-st"><p class="text-center">Etudiants</p></div></a>
				<a href="/auth/register/school"><div class="col-xs-4 auth-connect-sub-menu-sc"><p class="text-center">Ecoles</p></div></a>
				<a href="/auth/register/corporate"><div class="col-xs-4 auth-connect-sub-menu-co"><p class="text-center">Entreprises</p></div></a>
			</div>
		</div>
</template>

<template name="authConnectStudent">
		<div class="container-fluid auth-two">
			<div class="row">
				<div id="register">
					<form>
						<input type="email" id="register-email" placeholder="e-mail" class="register-box"><br/>
						<input type="password" id="register-password" placeholder="password" class="register-box"><br>
						<div class="ui fluid search selection dropdown auth-select">
							<input name="country" type="hidden">
							<i class="dropdown icon"></i>
							<div class="default text">Choisissez votre école</div>
							<div class="menu">
								{{#each schools}}
								<div class="item" data-value="{{_id}}"><i class="fr flag"></i>{{schoolName}}</div>
								{{/each}}
							</div>
						</div>
						<input type="submit" value="Register" class="login-button">
					</form>
				</div>
			</div>
		</div>
</template>

<template name="authConnectSchool">
		<div class="container-fluid auth-two register-sc">
			<div class="row">
				 <div id="register">
          <form>
            <input type="email" id="register-email" placeholder="e-mail" class="register-box"><br/>
            <input type="password" id="register-password" placeholder="password" class="register-box"><br>
            <input type="submit" value="Register" class="login-button">
          </form>
        </div>
			</div>
		</div>
</template>

<template name="authConnectCorporate">
		<div class="container-fluid auth-two register-co">
			<div class="row">
				 <div id="register">
				  <form>
            <input type="email" id="register-email" placeholder="e-mail" class="register-box"><br/>
            <input type="password" id="register-password" placeholder="password" class="register-box"><br>
            <input type="submit" value="Register" class="login-button">
          </form>
				</div>
			</div>
		</div>
</template>

<template name="void">

</template>
