<template name="dashCompany">
  <div id="wrapper">
    {{> sidebarCompany}}
    <div id="page-content-wrapper" class="wrapper-company">
      {{> yield "aside"}}
    </div>
  </div>
</template>

<template name="feedCompany">
	{{#if noOffers}}
		{{> firstTimer}}
	{{else}}
		{{#each offers}}
      {{> offer}}
		{{/each}}
	{{/if}}
</template>


<template name="pushPost">
<div class="container">
    <div class="row">
      <div id="push-form">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-12">
              <input type="text" id="name" placeholder="Intitulé du poste" class="form-control"><br/>
            </div>
          </div>
          {{>wysiwyg}}
          <!--
          <div class="form-group">
            <div class="col-xs-12">
              <textarea id="corps" class="form-control text-area" rows="10"></textarea>
            </div>
          </div>
          -->
          <div class="form-group">
            <div class="col-xs-12">
              <input type="number" id="salary" placeholder="salaire (net par mois)" class="form-control"><br/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <input type="email" id="email" placeholder="e-mail de réponse" class="form-control"><br/>
            </div>
          </div>

          <div class="form-group push-post-radio">

            <div class="radio-inline">
              <label>
                <input type="radio" name="jobType" value="CDI" checked>
                CDI
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" name="jobType" value="CDD">
                CDD
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" name="jobType" value="Stage">
                Stage
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" name="jobType" value="VIE">
                V.I.E
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12 pushOffer-select">
							<select id="channels" class="selectpicker" multiple data-live-search="true" data-style="btn-primary">
              	{{#each channels}}
              		<option value="{{_id}}">{{belongsToSchool}}: {{name}}</option>
              	{{/each}}
            	</select>
						</div>
					</div>
          <div class="form-group">
            <div class="col-sm-offset-11 col-xs-1">
              <button type="submit" class="btn btn-default diffuse">Diffuse</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="firstTimer">
<div class="container-fluid ft fill">
	<div class="container">
		<div class="row ft-hero">
			<div class="col-xs-12 text-center">
			<h1>Bienvenue!</h1>
			</div>
			<div class="col-xs-12 text-center">
			<h3>Multidiffusez votre première offre dès maintenant<br>à l'audience qui compte et gagnez un temps précieux</h3>
		<button class="btn btn-primary go" id="go">Commencer</button>
		</div>
		</div>
	</div>
</div>

</template>


<template name="offers">
  {{> feedCompany}}
</template>
