<template name="dashSchool">
  <div id="wrapper">
    {{> sidebarSchool}}
    <div id="page-content-wrapper" class="wrapper-school">
      {{> yield "aside"}}
    </div>
  </div>
</template>

<template name="sidebarSchool">
  <div id="sidebar-wrapper" class="sidebar-school">
    <nav class="sidebar">
      <ul class="sidebar__toggled">
        <li><a href="javascript:void(0)" id="main-toggle" class="sidebar-toggle"><br></a></li>

       <div class="logo-school-wrapper">
				<div class="logo-school">
					{{#if logo}}
						<img src="{{logo}}"/>
					{{else}}
						<img src="/studin.png"/>
					{{/if}}
        </div>
				</div>
      </ul>
    </nav>
    <nav class="sidebar">
      <ul>
				{{#if channels}}
        <div class="school-menu channels">
				{{#each channels}}
        	<li><a href="/channels/{{_id}}"><i class="angle right icon"></i>{{name}}</a></li>
				{{/each}}
				</div>
				{{/if}}
				<div class="school-menu">
						 <li><a href="/update-school" id="updateSchool"><i class="setting icon"></i>Gerez votre profil école</a></li>
        		 <li><a href="/add-channels" id="addChannel"><i class="university icon"></i>Gerez vos fomations</a></li>
       			 <li><a href="/auth/login" id="logout" class="logout"><span class="icon glyphicon glyphicon-record"></span>Se déconnecter</a></li>
      	</div>
				</ul>
    </nav>
  </div>
</template>

<template name="createSchool">
  <div class="container">
		<div class="row text-center">
			<div class="col-xs-12 first-school-hero">
    		<h3>Bienvenue! Merci de bien vouloir remplir le formulaire suivant:</h3>
			</div>
		</div>
		<div class="col-xs-12">
  		 {{> quickForm collection="Schools" id="insertBookForm" buttonClasses="btn btn-primary first-school-submit" fields="schoolName, logo, adresse" buttonContent="Démarrer" type="insert"}}
  	</div>
  </div>
</template>

<template name="updateSchool">
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h3>Mettez à jour les informations de l'école:</h3>
		</div>
	</div>
	{{> quickForm collection="Schools" buttonContent="Mettre à jour" buttonClasses="btn btn-primary first-school-submit" fields="schoolName, logo, adresse" doc=this id="updateBookForm" type="update"}}  </div>
</template>

<template name="createSchoolThanks">
  <div class="container">
		<div class="row">
  	<div class="col-xs-12 text-center first-school-hero">
	  	<h3>Merci, votre école à bien été enregistrée!</h3>
    </div>
		<div class="col-xs-12 text-center">
			<h4>Vos étudiants peuvent désormais s'y connecter</h4>
 		</div>
		 </div>
  </div>
</template>

<template name="updateSchoolThanks">
  <div class="container">
    <h3>Vos modifications ont bien été enregistrées</h3>
  </div>
</template>


<template name="addChannels">
  <div class="container">
		<div class="row">
  	<div class="col-xs-12 text-center first-school-hero">
    <h2>Renseignez ici vos formations ici:</h2>
    <h4>Augmentez ainsi leur visibilité auprès des entreprises</h4>
		</div>
	</div>
    {{#each channels}}
      {{name}} - {{description}}<br>
    {{/each}}
    {{> quickForm collection="Channels" buttonContent="Ajouter" buttonClasses="btn btn-primary first-school-submit" fields="name, description" id="insertBookForm" type="insert"}}
  </div>
</template>
