<!-- wrapper > sidebar wrapper $ page-content wrapper -->
<template name="dashStudent">
  <div id="wrapper">
    {{> sidebarStudent}}
    {{> feedStudent}}
  </div>
</template>

<template name="feedChannel">
  <div id="wrapper">
		{{#if isStudent}}
    	{{> sidebarStudent}}
		{{else}}
			{{> sidebarSchool}}
		{{/if}}
  <div id="page-content-wrapper" class="feed-student">
    {{#each offers}}
			{{> offer}}
    {{/each}}
  </div>
  </div>
</template>

<template name="feedStudent">
  <div id="page-content-wrapper" class="feed-student">
    {{#each offers}}
    {{> offer}}
    {{/each}}
  </div>
</template>

<template name ="offer">
  <div class="offer">
    <div class="offer-{{jobType}}">
      <div class="ui label offer-label">
        {{jobType}}
        {{#if salary}}
        ${{salary}}
        {{/if}}
      </div>
          <span class="jobName">{{name}}<br></span>
          <div class="offer-corps">
            {{{corps}}}
          </div>
    </div>
  </div>
</template>
