<template name="sidebarStudent">
  <div id="sidebar-wrapper" class="sidebar-student">
    <nav class="sidebar">  <ul class="sidebar__toggled">
      <li><a href="javascript:void(0)" id="main-toggle" class="sidebar-toggle"><br></a></li>
			<div class="logo-school">

       <div class="logo-school-wrapper">
				{{#if logo}}
        	<a href="/"><img src="{{logo}}"/></a>
					{{else}}
					<a href="/"><img src="/studin.png"/></a>
				{{/if}}
				</div>
      </div>
    </ul>
  </nav>
  <nav class="sidebar">
    <ul>
				{{#if channels}}
        <div class="school-menu channels">
				{{#each channels}}
        	<li><a href="/channels/{{_id}}"><i class="angle right icon"></i>{{name}}</a></li>
				{{/each}}
				</div>
				{{/if}}
			{{> filters}}
			<div class="school-menu">
      	<li><a href="" id="update"><i class="setting icon"></i>Réglages</a></li>
      	<li><a href="" id="update"><i class="send outline icon"></i>Candidatures en cours</a></li>
      	<li><a href="" id="update"><i class="file text outline icon"></i>Mes documents</a></li>
      	<li><a href="" id="update"><i class="repeat icon"></i>Dernières consultations</a></li>
      	<li><a href="/auth/login/" id="logout" class="logout"><span class="icon glyphicon glyphicon-record"></span>Se déconnecter</a></li>
      </div>
		 </ul>
  </nav>
</div>
</template>

<template name="filters">
<div class="filters">
		<a href="" id="cdd">CDD</a><a href="" id="cdi">CDI</a><br>
		<a href="" id="stage">Stage</a><a href="" id="vie">V.I.E</a><br>
</div>
</template>
