<template name="sidebarCompany">
        <div id="sidebar-wrapper" class="sidebar-company">
          <nav class="sidebar">
            <ul class="sidebar__toggled">
              <li><a href="javascript:void(0)" id="main-toggle" class="sidebar-toggle"><br></a></li>
							<div class="logo-school">
                <a href="" id="home"><img src="/studin.png"/></a>
              </div>
            </ul>
          </nav>
            <nav class="sidebar">
                <ul>
        						<div class="school-menu">
                    <li><a href="" id="offers" ><span class="icon glyphicon glyphicon-home"></span>Vos offres</a></li>
                    <li><a href="" id="pushPost" ><span class="icon glyphicon glyphicon-pencil"></span>Diffuser une offre</a></li>
                    <li><a href="/auth/login/" id="logout" class="logout"><span class="icon glyphicon glyphicon-record"></span>Se déconnecter</a></li>
              		 </div>
							</ul>
            </nav>
        </div>
</template>
